.header{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.header__right{
    margin-right: 10px;
       
}

.header__icon{
    margin: 0 10px;
    cursor: pointer;
}

.header__icon:hover{
    color: red;
}
.header__account{
    display: flex;
    flex-direction: column;
    align-items: center;
}