.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
   
    
}

.navbar__brand{
    text-decoration: none;
    color: #00154F;
    font-size: 90%;
}
.navbar__brand:hover { 
    text-decoration: none;
}