.sidebar{
    background-color: pink;
    display: flex;
    flex-direction: column;
    background-color: #00154F;
    width: 230px;
    height: 100vh;

    
}

.sidebar__link {
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    color: #F2BC94;
    font-size: 18px;
    border-bottom: 1px solid #F2BC94;
    font-family: 'Anton', sans-serif;
    padding: 20px;
    margin-left: 10px;
}
.sidebar__linkactive{
    background-color: #F4AF1B;
    color: #00154F;
}
.sidebar__linkmenu {
    padding-left: 10px;
}

.sidebar__link:hover{
    text-decoration: none;
    background-color: #f6ce75;
    color: #00154F;
}