.sidebar{
    background-color: pink;
    display: flex;
    flex-direction: column;
    background-color: #00154F;
    width: 230px;
    height: auto;

    
}

.sidebar__link {
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    color: #F2BC94;
    font-size: 18px;
    border-bottom: 1px solid #F2BC94;
    font-family: 'Anton', sans-serif;
    padding: 20px;
    margin-left: 10px;
}
.sidebar__linkactive{
    background-color: #F4AF1B;
    color: #00154F;
}
.sidebar__linkmenu {
    padding-left: 10px;
}

.sidebar__link:hover{
    text-decoration: none;
    background-color: #f6ce75;
    color: #00154F;
}
.admin_profile_pic{
    height:70px;
    width:70px;
    border-radius: 50%;
    border:1px solid #F4AF1B;
    background-image: url(https://myrepublica.nagariknetwork.com/uploads/media/RajeshHamal.jpg);
    background-size: cover;

}
.admin_profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px 20px;
}
.admin_profile> div{
   
    font-weight:normal;
    color:#F4AF1B;
    font-family: 'Anton', sans-serif;
    margin-top:10px;

    
}